<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Светлина</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Svetlina.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">-->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow" >
            <div class="container-fluid nav-bar">
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between nav-bar">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item nav-logo" >
                            <img src="~/images/Logo.png"style="height:50px; width:50px;"/>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Магазин</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Workers" asp-action="Index">Работници</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Schedules" asp-action="Index">Календар</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index">Отзиви</a>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Проекти</a>
                        </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    @*< footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Svetlina - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <footer class="site-footer "style="padding:0px">
        <div class="footer-top"style="padding:0px">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h5>Контакти</h5>
                        <ul>
                            <li><a href="tel:+359123456789">+359 123 456 789</a></li>
                            <li><a href="mailto:info@example.com">info@example.com</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">LinkedIn</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h5>Услуги</h5>
                        <ul>
                            <li><a href="#">Уеб Дизайн</a></li>
                            <li><a href="#">SEO Оптимизация</a></li>
                            <li><a href="#">Дигитален Маркетинг</a></li>
                            <li><a href="#">Съдържание</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h5>Компания</h5>
                        <ul>
                            <li><a href="#">За нас</a></li>
                            <li><a href="#">Нашите проекти</a></li>
                            <li><a href="#">Сертификати</a></li>
                            <li><a href="#">Кариери</a></li>
                            <li><a href="#">Политика за поверителност</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="footer-text m-0 text-center">&copy; 2024 Всички права запазени | Разработено от <a href="https://yourwebsite.com">YourWebsite</a></p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
