@model Svetlina.Data.Models.Worker

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Worker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WorkerId" />
            <div class="form-group">
                <label asp-for="WorkerName" class="control-label"></label>
                <input asp-for="WorkerName" class="form-control" />
                <span asp-validation-for="WorkerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerImage" class="control-label"></label>
                <input asp-for="WorkerImage" class="form-control" />
                <span asp-validation-for="WorkerImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerInfo" class="control-label"></label>
                <input asp-for="WorkerInfo" class="form-control" />
                <span asp-validation-for="WorkerInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialisationType" class="control-label"></label>
                <input asp-for="SpecialisationType" class="form-control" />
                <span asp-validation-for="SpecialisationType" class="text-danger"></span>
            </div>

           @*  <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialisationType" class="control-label"></label>
                <select asp-for="SpecialisationType" class="form-control"></select>
                <span asp-validation-for="SpecialisationType" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
