@{
    ViewData["Title"] = "Home Page";
}


    <div style="widht=100vh">
    <img src="images/svetlina-banner.png" class="img-fluid" alt="banner">
    <img src="images/info.png" class="img-fluid" alt="info">

    </div>


