@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css">
    <div style="widht=100vh">
    <img src="images/svetlina-banner.png" class="img-fluid" alt="banner">
    <img src="images/info.png" class="img-fluid" alt="info">

    <body class="bg-pink-100">
        <div class="container mx-auto py-10 px-6">
            <h1 class="text-5xl font-bold text-center mb-8">Услуги</h1>
            <div class="grid grid-cols-3 gap-4" id="uslugi-container">
                <!-- Service 1 -->
                <div class="bg-white shadow-lg rounded p-4">
                    <div class="flex items-center mb-4 img-align">
                        <img class="services"alt="Placeholder image for an electrical services icon" src="~/images/elektroizgrajdane.jpg">
                        <h2 class="ml-4 text-xl font-semibold">Електроизграждане</h2>
                    </div>
                    <p class="text-sm txt-align">
                        Проектиране и изграждане на вътрешни и външни силови инсталации;

                        Изграждане и монтаж на ел. табла;

                        Подмяна и ремонт на съществуващи електроинсталации

                        Локализиране и отстраняване на повреди по кабели;

                        Изграждане на вътрешни инсталации на промишлени и битови сгради;

                        Монтаж и ремонт на индивидуални осветителни инсталации;
                    </p>
                </div>

                <!-- Service 2 -->
                <div class="bg-white shadow-lg rounded p-4">
                    <div class="flex items-center mb-4 img-align ">
                        <img class="services" alt="Placeholder image for a video surveillance icon" src="~/images/pojaroizvestqvane.jpg">
                        <h2 class="ml-4 text-xl font-semibold">Видеонаблюдение</h2>
                    </div>
                    <p class="text-sm txt-align">
                        Системи за видеонаблюдение на Вашия дом;

                        Системи за видеонаблюдение на жилищни сгради;

                        Системи за видеонаблюдение на офис сгради;

                        Системи за видеонаблюдение на търговски обекти – магазин, складово помещение;

                        Системи за видеонаблюдение на бензиностанции, паркинги, хотели;

                        Системи за видеонаблюдение на заведения.
                    </p>
                </div>

                <!-- Service 3 -->
                <div class="bg-white shadow-lg rounded p-4">
                    <div class="flex items-center mb-4 img-align">
                        <img class="services" alt="Placeholder image for a fire safety icon" src="~/images/videonabludenie.jpg">
                        <h2 class="ml-4 text-xl font-semibold">Пожароизвестяване</h2>
                    </div>
                    <p class="text-sm txt-align">
                        Оценяване на противопожарното състояние на обекта;

                        Индивидуален анализ и изграждане с най-подходящата система;

                        Проектиране на контролен панел за пожарна аларма;

                        Поставяне на устройства за пожароизвестителна сигнализация;

                        Изготвяне и въвеждане на мерки за отстраняване причините за пожар.
                    </p>
                </div>

                
                
</body>


