html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.services{
    width:250px;
    height:150px;
}

#uslugi-container{
    display:flex;
}
@media(max-width:1030px) {
    #uslugi-container {
        display:flex;
        flex-direction:column;
    }
}
.img-align {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.txt-align{
    text-align:center;
}